# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Ambiente
.venv/
.env

# IDE
.vscode/
.idea/

# PyInstaller
build/
dist/
*.spec

# Config local (contém credenciais)
**/config.json

# Logs
*.log

# Windows
Thumbs.db
